/****** Object:  Database [g12shop]    Script Date: 10/27/2022 2:37:56 PM ******/
CREATE DATABASE [g12shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'g12shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\g12shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'g12shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\g12shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [g12shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[g12shop] TO [sa]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 10/27/2022 2:37:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[hashPassword] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[isEnabled] [bit] NOT NULL,
	[authProvider] [varchar](15) NULL,
	[resetPasswordToken] [varchar](30) NULL,
	[verificationCode] [varchar](64) NULL,
	[createdDate] [datetime] NOT NULL,
	[imgUrl] [varchar](255) NULL,
	[roleId] [bigint] NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__accounts__3213E83FD25D9FB7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[accounts] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[categories]    Script Date: 10/27/2022 2:37:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__categori__3213E83FFB7E8D1B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[categories] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 10/27/2022 2:37:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[orderId] [bigint] NULL,
	[productId] [bigint] NULL,
	[price] [decimal](12, 3) NOT NULL,
	[quantity] [int] NOT NULL,
	[statusOrder] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__order_de__3213E83FB7B8CD1F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[order_details] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[orders]    Script Date: 10/27/2022 2:37:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[accountId] [bigint] NULL,
	[address] [nvarchar](255) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[statusOrder] [nvarchar](255) NOT NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK__orders__3213E83F046C65BC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[orders] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 10/27/2022 2:37:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_images](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[productId] [bigint] NULL,
	[imgName] [varchar](255) NOT NULL,
 CONSTRAINT [PK__product___3213E83F78779B1E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[product_images] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[product_reviews]    Script Date: 10/27/2022 2:37:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[productId] [bigint] NULL,
	[description] [ntext] NULL,
	[accountId] [bigint] NULL,
 CONSTRAINT [PK__product___3213E83FF305C4A6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[product_reviews] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[products]    Script Date: 10/27/2022 2:37:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[categoryId] [bigint] NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](12, 3) NOT NULL,
	[imgName] [varchar](255) NOT NULL,
	[description] [ntext] NOT NULL,
	[discount] [int] NULL,
	[slug] [varchar](255) NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__products__3213E83FFDB7A2CE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[products] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10/27/2022 2:37:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK__roles__3213E83F35AAC74C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[roles] TO  SCHEMA OWNER 
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__accounts__AB6E6164665FFBEC]    Script Date: 10/27/2022 2:37:56 PM ******/
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [UQ__accounts__AB6E6164665FFBEC] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__accounts__F3DBC57299C88DA6]    Script Date: 10/27/2022 2:37:56 PM ******/
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [UQ__accounts__F3DBC57299C88DA6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__32DD1E4CA0FE047F]    Script Date: 10/27/2022 2:37:56 PM ******/
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [UQ__products__32DD1E4CA0FE047F] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1B6DD1528E]    Script Date: 10/27/2022 2:37:56 PM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UQ__roles__72E12F1B6DD1528E] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF__accounts__isEnab__29572725]  DEFAULT ((0)) FOR [isEnabled]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF__accounts__create__2A4B4B5E]  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF__accounts__isDele__2C3393D0]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF__categorie__isDel__2F10007B]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF__orders__createdD__3E52440B]  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__isDele__33D4B598]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK__accounts__roleId__2B3F6F97] FOREIGN KEY([roleId])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK__accounts__roleId__2B3F6F97]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK__order_det__order__412EB0B6] FOREIGN KEY([orderId])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK__order_det__order__412EB0B6]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK__order_det__produ__4222D4EF] FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK__order_det__produ__4222D4EF]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__accountI__3D5E1FD2] FOREIGN KEY([accountId])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__accountI__3D5E1FD2]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK__product_i__produ__36B12243] FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK__product_i__produ__36B12243]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FK__product_r__accou__3A81B327] FOREIGN KEY([accountId])
REFERENCES [dbo].[accounts] ([id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK__product_r__accou__3A81B327]
GO
ALTER TABLE [dbo].[product_reviews]  WITH CHECK ADD  CONSTRAINT [FK__product_r__produ__398D8EEE] FOREIGN KEY([productId])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_reviews] CHECK CONSTRAINT [FK__product_r__produ__398D8EEE]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK__products__catego__32E0915F] FOREIGN KEY([categoryId])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK__products__catego__32E0915F]
GO
/****** Object:  Statistic [PK__accounts__3213E83FD25D9FB7]    Script Date: 10/27/2022 2:37:56 PM ******/
UPDATE STATISTICS [dbo].[accounts]([PK__accounts__3213E83FD25D9FB7]) WITH STATS_STREAM = 0x01000000010000000000000000000000D7ABF7AB00000000400000000000000000000000000000007F03DAAA7F00000008001300000000000000000038020000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [UQ__accounts__AB6E6164665FFBEC]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[accounts]([UQ__accounts__AB6E6164665FFBEC]) WITH STATS_STREAM = 0x01000000020000000000000000000000DA2CDE190000000058000000000000000000000000000000A7030000A7000000640000000000000008D00034000000007F03EC747F000000080013000000000000000000ED000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [UQ__accounts__F3DBC57299C88DA6]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[accounts]([UQ__accounts__F3DBC57299C88DA6]) WITH STATS_STREAM = 0x01000000020000000000000000000000E32DF8BA0000000058000000000000000000000000000000A7030000A7000000140000000000000008D00034000000007F03EC747F000000080013000000000000000000ED000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK__categori__3213E83FFB7E8D1B]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[categories]([PK__categori__3213E83FFB7E8D1B]) WITH STATS_STREAM = 0x01000000010000000000000000000000ADF85D9C00000000400000000000000000000000000000007F0300007F000000080013000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK__order_de__3213E83FB7B8CD1F]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[order_details]([PK__order_de__3213E83FB7B8CD1F]) WITH STATS_STREAM = 0x01000000010000000000000000000000ADF85D9C00000000400000000000000000000000000000007F0300007F000000080013000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK__orders__3213E83F046C65BC]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[orders]([PK__orders__3213E83F046C65BC]) WITH STATS_STREAM = 0x01000000010000000000000000000000ADF85D9C00000000400000000000000000000000000000007F0300007F000000080013000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK__product___3213E83F78779B1E]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[product_images]([PK__product___3213E83F78779B1E]) WITH STATS_STREAM = 0x01000000010000000000000000000000ADF85D9C00000000400000000000000000000000000000007F0300007F000000080013000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK__product___3213E83FF305C4A6]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[product_reviews]([PK__product___3213E83FF305C4A6]) WITH STATS_STREAM = 0x010000000100000000000000000000004ED8E64200000000400000000000000000000000000000007F0300007F00000008001300000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK__products__3213E83FFDB7A2CE]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[products]([PK__products__3213E83FFDB7A2CE]) WITH STATS_STREAM = 0x010000000100000000000000000000008468BA7100000000400000000000000000000000000000007F0300007F0000000800130000000000000000007F000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [UQ__products__32DD1E4CA0FE047F]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[products]([UQ__products__32DD1E4CA0FE047F]) WITH STATS_STREAM = 0x01000000020000000000000000000000F7BAF5810000000058000000000000000000000000000000A7030000A7000000FF0000000000000008D00034000000007F0300007F00000008001300000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK__roles__3213E83F35AAC74C]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[roles]([PK__roles__3213E83F35AAC74C]) WITH STATS_STREAM = 0x01000000010000000000000000000000ADF85D9C00000000400000000000000000000000000000007F0300007F000000080013000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [UQ__roles__72E12F1B6DD1528E]    Script Date: 10/27/2022 2:37:57 PM ******/
UPDATE STATISTICS [dbo].[roles]([UQ__roles__72E12F1B6DD1528E]) WITH STATS_STREAM = 0x01000000020000000000000000000000B38F074C0000000058000000000000000000000000000000A7030000A7000000140000000000000008D00034000000007F0300007F00000008001300000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
